body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.centered-div {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.list-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    margin: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
